Repository epam/Indigo, pull requests merged in 2020-11, with the labels that each got.

#209 ci: Docker: buildpack-centos7 integration
  .ci/docker/buildpack-centos7/Dockerfile
  .ci/docker/indigo-tester/Dockerfile
  .github/workflows/ci.yaml
  .github/workflows/docker-images.yaml
  api/dotnet/Indigo.Net.csproj
  api/java/pom.xml
  api/plugins/bingo/java/pom.xml
  api/plugins/inchi/java/pom.xml
  api/plugins/renderer/java/pom.xml
  api/python/setup.py
  api/tests/python/common/env_indigo.py
  api/tests/python/ref/todo/similarity_morgan_ecfp.py.out
  api/tests/python/tests/bingo/append.py
  api/tests/python/tests/bingo/basic.py
  api/tests/python/tests/bingo/sim_value_test.py
  api/tests/python/tests/bingo/similarity_types.py
  api/tests/python/tests/bingo/triple.py
  api/tests/python/tests/formats/df_properties.py
  api/tests/python/tests/layout/simple_cycles.py
  api/tests/python/tests/todo/similarity_morgan_ecfp.py
Labels: CI, Enhancement

#221 ci: fix docker build images
  .github/workflows/docker-images.yaml
Labels: Bug, CI

#222 ci: automatically release Indigo wrappers when tagged
  .ci/docker/indigo-tester/Dockerfile
  .github/workflows/bingo-elastic-ci.yml
  .github/workflows/docker-images.yaml
  .github/workflows/indigo-ci.yaml
  api/CMakeLists.txt
  api/dotnet/Indigo.Net.csproj
  api/get_indigo_version.py
  api/java/pom.xml
  api/make-dotnet-wrappers.py
  api/make-java-wrappers.py
  api/make-python-wrappers.py
  api/plugins/bingo-elastic/java/pom.xml
  api/plugins/bingo/CMakeLists.txt
  api/plugins/bingo/java/pom.xml
  api/plugins/inchi/CMakeLists.txt
  api/plugins/inchi/java/pom.xml
  api/plugins/renderer/CMakeLists.txt
  api/plugins/renderer/java/pom.xml
  api/python/setup.py
  bingo/bingo-core-c/CMakeLists.txt
  bingo/bingo-core/CMakeLists.txt
  bingo/oracle/CMakeLists.txt
  bingo/postgres/CMakeLists.txt
  build_scripts/bingo-oracle/CMakeLists.txt
  build_scripts/bingo-postgres/CMakeLists.txt
  build_scripts/bingo-sqlserver/CMakeLists.txt
  build_scripts/bingo/CMakeLists.txt
  build_scripts/indigo-all/CMakeLists.txt
  build_scripts/indigo-inchi/CMakeLists.txt
  build_scripts/indigo-make-by-libs.py
  build_scripts/indigo-renderer/CMakeLists.txt
  build_scripts/indigo-update-version.py
  build_scripts/indigo-utils/CMakeLists.txt
  build_scripts/indigo/CMakeLists.txt
  common/CMakeLists.txt
  common/cmake/SetBuildParameters.cmake
  common/oracle/CMakeLists.txt
  molecule/CMakeLists.txt
  third_party/cairo-src/cairo/CMakeLists.txt
  third_party/cairo-src/pixman/CMakeLists.txt
  third_party/libpng-src/CMakeLists.txt
  utils/indigo-cano/CMakeLists.txt
  utils/indigo-deco/CMakeLists.txt
  utils/indigo-depict/CMakeLists.txt
Labels: CI, Enhancement, Indigo API

#223 Bingo elastic python
  .github/workflows/bingo-elastic-ci.yml
  README.md
  api/plugins/bingo-elastic/java/src/main/java/com/epam/indigo/predicate/KeywordQuery.java
  api/plugins/bingo-elastic/java/src/test/java/com/epam/indigo/elastic/FullUsageTest.java
  api/plugins/bingo-elastic/python/.gitignore
  api/plugins/bingo-elastic/python/README.md
  api/plugins/bingo-elastic/python/bingo_elastic.py
  api/plugins/bingo-elastic/python/bingo_elastic/__init__.py
  api/plugins/bingo-elastic/python/bingo_elastic/elastic.py
  api/plugins/bingo-elastic/python/bingo_elastic/model/__init__.py
  api/plugins/bingo-elastic/python/bingo_elastic/model/helpers.py
  api/plugins/bingo-elastic/python/bingo_elastic/model/record.py
  api/plugins/bingo-elastic/python/bingo_elastic/queries.py
  api/plugins/bingo-elastic/python/bingo_elastic/utils.py
  api/plugins/bingo-elastic/python/elastic.py
  api/plugins/bingo-elastic/python/model/records.py
  api/plugins/bingo-elastic/python/poetry.lock
  api/plugins/bingo-elastic/python/pyproject.toml
  api/plugins/bingo-elastic/python/requirements.txt
  api/plugins/bingo-elastic/python/tests/__init__.py
  api/plugins/bingo-elastic/python/tests/conftest.py
  api/plugins/bingo-elastic/python/tests/model/__init__.py
  api/plugins/bingo-elastic/python/tests/model/test_helpers.py
  api/plugins/bingo-elastic/python/tests/model/test_record.py
  api/plugins/bingo-elastic/python/tests/resources/composition1.mol
  api/plugins/bingo-elastic/python/tests/resources/pubchem_slice_50.smi
  api/plugins/bingo-elastic/python/tests/resources/rand_queries_small.sdf
  api/plugins/bingo-elastic/python/tests/resources/tetrahedral-all.cml
  api/plugins/bingo-elastic/python/tests/test_bingo_elastic.py
  api/plugins/bingo-elastic/python/tests/test_elastic.py
Labels: Enhancement, Indigo API
