Repository epam/Indigo, pull requests merged in 2021-11, with the labels that each got.

#505 core: ketcher format improvements and fixes
  api/tests/integration/tests/formats/reactions/cdxml/AmideFormation.ket
  api/tests/integration/tests/formats/reactions/cdxml/Claisen.ket
  api/wasm/indigo-ketcher/indigo-ketcher.cpp
  api/wasm/indigo-ketcher/test.js
  bingo/postgres/src/pg_common/bingo_pg_fix_pre.h
  core/indigo-core/molecule/elements.h
  core/indigo-core/molecule/molecule_json_loader.h
  core/indigo-core/molecule/molecule_savers.h
  core/indigo-core/molecule/molfile_saver.h
  core/indigo-core/molecule/query_molecule.h
  core/indigo-core/molecule/src/base_molecule.cpp
  core/indigo-core/molecule/src/molecule_auto_loader.cpp
  core/indigo-core/molecule/src/molecule_json_loader.cpp
  core/indigo-core/molecule/src/molecule_json_saver.cpp
  core/indigo-core/molecule/src/molecule_savers.cpp
  core/indigo-core/molecule/src/molfile_saver.cpp
  core/indigo-core/molecule/src/query_molecule.cpp
  core/indigo-core/reaction/src/reaction_json_loader.cpp
  core/indigo-core/reaction/src/reaction_json_saver.cpp
  utils/indigo-depict/main.c
Labels: Bug, Core, Indigo API

#512 core: base_cpp: Output slightly refactored, added StringOutput to replace ArrayOutput where possible (#511)
  core/indigo-core/common/base_cpp/cancellation_handler.cpp
  core/indigo-core/common/base_cpp/cancellation_handler.h
  core/indigo-core/common/base_cpp/output.cpp
  core/indigo-core/common/base_cpp/output.h
  core/indigo-core/common/base_cpp/smart_output.cpp
  core/indigo-core/common/base_cpp/smart_output.h
  core/indigo-core/common/gzip/gzip_output.cpp
  core/indigo-core/common/gzip/gzip_output.h
  core/indigo-core/common/lzw/lzw_encoder.cpp
  core/indigo-core/common/lzw/lzw_encoder.h
Labels: Enhancement, Core

#514 Fix python docs
  api/python/indigo/__init__.py
  api/python/indigo/inchi.py
  api/python/indigo/renderer.py
Labels: Indigo API, Documentation

#518 Use get target reaction
  bingo/bingo-elastic/java/src/test/java/com/epam/indigo/predicate/ReactionsTest.java
Labels: Enhancement, Bingo-Elastic

#524 api: wasm: indigo-ketcher: added NPM package creation (#482)
  .github/workflows/indigo-ci.yaml
  CHANGELOG.md
  api/wasm/indigo-ketcher/CMakeLists.txt
  api/wasm/indigo-ketcher/README.md
  api/wasm/indigo-ketcher/indigo-ketcher.cpp
  api/wasm/indigo-ketcher/package.json
  api/wasm/indigo-ketcher/test.js
  cmake/setup.cmake
Labels: Enhancement, Indigo API, CI

#502 New indigo service alpha preview with JSON:API support
  .github/workflows/indigo-ci.yaml
  CHANGELOG.md
  api/http/.pre-commit-config.yaml
  api/http/Dockerfile
  api/http/README.md
  api/http/docker-compose.yaml
  api/http/indigo_service/__init__.py
  api/http/indigo_service/indigo_http.py
  api/http/indigo_service/indigo_tools.py
  api/http/indigo_service/jsonapi.py
  api/http/indigo_service/service.py
  api/http/mypy.ini
  api/http/pylintrc
  api/http/pyproject.toml
  api/http/requirements.txt
  api/http/requirements_dev.txt
  api/http/setup.py
  api/http/tests/test_indigo_http.py
  api/http/tests/test_resources/kets/CNC.ket
Labels: Enhancement, High priority, Indigo Service

#517 api: build: support build and load ARM64 and i386 libraries, cosmetic fixes in tests
  api/dotnet/src/Bingo.cs
  api/dotnet/src/BingoLib.cs
  api/dotnet/src/Indigo.Net.csproj
  api/dotnet/src/Indigo.cs
  api/dotnet/src/IndigoInchiLib.cs
  api/dotnet/src/IndigoLib.cs
  api/dotnet/src/prebuild.ps1
  api/dotnet/tests/IndigoTest.cs
  api/java/indigo/src/main/java/com/epam/indigo/IndigoUtils.java
  api/python/CMakeLists.txt
  api/python/indigo/__init__.py
  api/python/setup.py
  api/tests/integration/common/env_indigo.py
  api/tests/integration/common/thread_printer.py
  api/tests/integration/test.py
  api/tests/integration/tests/todo/load_utf8.py
  api/tests/integration/tests/todo/molecules/sgroups_utf8.sdf
  bingo/postgres/CMakeLists.txt
  cmake/setup.cmake
Labels: Enhancement, Indigo API

#536 CDXML format support
  api/tests/integration/ref/formats/cdxml_to_mol.py.out
  api/tests/integration/tests/formats/cdxml_to_mol.py
  api/tests/integration/tests/formats/molecules/cdxml2/sgroups.cdxml
  api/tests/integration/tests/formats/molecules/cdxml2/test-multi.cdxml
  core/indigo-core/molecule/molecule_cdxml_loader.h
  core/indigo-core/molecule/src/molecule_auto_loader.cpp
  core/indigo-core/molecule/src/molecule_cdx_loader.cpp
  core/indigo-core/molecule/src/molecule_cdxml_loader.cpp
  core/indigo-core/molecule/src/molecule_json_loader.cpp
  utils/indigo-depict/main.c
Labels: Enhancement, Core, c++

#540 CI/CD for ARM64 and i386 (#485)
  .ci/docker/buildpack-arm64/Dockerfile
  .github/workflows/docker-images.yaml
  .github/workflows/indigo-ci.yaml
  CHANGELOG.md
  api/CMakeLists.txt
  api/c/tests/dlopen/CMakeLists.txt
  api/dotnet/src/Indigo.Net.csproj
  api/http/Dockerfile
  api/http/requirements.txt
  api/indigo-version.cmake
  api/java/pom.xml
  api/python/CMakeLists.txt
  api/python/indigo/__init__.py
  api/python/setup.py
  api/r/DESCRIPTION
  api/wasm/indigo-ketcher/package.json
  bingo/bingo-elastic/java/pom.xml
  bingo/bingo-elastic/python/bingo_elastic/__init__.py
  bingo/bingo-elastic/python/poetry.lock
  bingo/bingo-elastic/python/pyproject.toml
  cmake/setup.cmake
  utils/indigo-service/service/Dockerfile
Labels: Enhancement, CI
