Repository epam/Indigo, pull requests merged in 2021-12, with the labels that each got.

#547 api: c: fixed *TGroups function declarations
  api/c/indigo/indigo.h
Labels: Indigo API

#549 api: python: checkSalt() implemented #539
  api/python/indigo/__init__.py
  api/python/indigo/salts.py
  api/python/tests/test_indigo.py
  api/tests/integration/ref/basic/basic_check.py.out
  api/tests/integration/tests/basic/basic_check.py
  api/wasm/indigo-ketcher/test.js
  core/indigo-core/molecule/src/structure_checker.cpp
Labels: Enhancement, Indigo API, python

#544 api: python: fix whl file name for aarch64
  .github/workflows/indigo-ci.yaml
  api/python/CMakeLists.txt
  api/python/setup.py
Labels: Bug

#558 Feature/check inorganics #539
  CHANGELOG.md
  api/python/indigo/__init__.py
  api/python/indigo/salts.py
  api/python/tests/test_indigo.py
Labels: python

#569 core: ketcher-related fixes: #465, #529, #538, #562, #564, #563, #571
  api/c/indigo/src/indigo_misc.cpp
  api/c/indigo/src/indigo_options.cpp
  api/tests/integration/ref/ketcher/detect.py.out
  api/tests/integration/ref/rendering/simple_objects_render.py.out
  api/tests/integration/tests/ketcher/detect.py
  api/tests/integration/tests/ketcher/molecules/all_features_mol.mol
  api/tests/integration/tests/ketcher/molecules/arom.ket
  api/tests/integration/tests/ketcher/molecules/badval.ket
  api/tests/integration/tests/ketcher/molecules/badval.mol
  api/tests/integration/tests/ketcher/molecules/enhanced_stereo2.mol
  api/tests/integration/tests/ketcher/molecules/hydrogen_test.mol
  api/tests/integration/tests/ketcher/molecules/qreaction.ket
  api/tests/integration/tests/ketcher/molecules/query.ket
  api/tests/integration/tests/ketcher/molecules/reaction.ket
  api/tests/integration/tests/rendering/molecules/simple.ket
  api/tests/integration/tests/rendering/ref/linux/simple.png
  api/tests/integration/tests/rendering/ref/mac/simple.png
  api/tests/integration/tests/rendering/ref/win/simple.png
  api/tests/integration/tests/rendering/simple_objects_render.py
  api/wasm/indigo-ketcher/package.json
  core/indigo-core/graph/graph.h
  core/indigo-core/graph/src/graph.cpp
  core/indigo-core/molecule/base_molecule.h
  core/indigo-core/molecule/ket_commons.h
  core/indigo-core/molecule/molecule_dearom.h
  core/indigo-core/molecule/molecule_stereocenters.h
  core/indigo-core/molecule/src/base_molecule.cpp
  core/indigo-core/molecule/src/molecule_auto_loader.cpp
  core/indigo-core/molecule/src/molecule_dearom.cpp
  core/indigo-core/molecule/src/molecule_json_loader.cpp
  core/indigo-core/molecule/src/molecule_json_saver.cpp
  core/indigo-core/molecule/src/molecule_stereocenters.cpp
  core/indigo-core/molecule/src/structure_checker.cpp
  core/render2d/render_context.h
  core/render2d/render_internal.h
  core/render2d/src/render_context.cpp
  core/render2d/src/render_internal.cpp
  core/render2d/src/render_item_molecule.cpp
  utils/indigo-depict/main.c
Labels: Bug, Enhancement, High priority, c++

#579 api: http: implement compounds rendering #561
  .ci/docker/indigo-tester/Dockerfile
  api/http/Dockerfile
  api/http/indigo_service/indigo_http.py
  api/http/indigo_service/jsonapi.py
  api/http/mypy.ini
  api/http/pylintrc
  api/http/requirements_dev.txt
  api/http/tests/test_indigo_http.py
  api/python/indigo/renderer.py
  bingo/bingo-elastic/python/requirements_dev.txt
Labels: Enhancement, Indigo API, High priority, python
