Repository epam/Indigo, pull requests merged in 2022-06, with the labels that each got.

#752 api: renamed cLogP to logP
  api/c/indigo/indigo.h
  api/c/indigo/src/indigo_calc.cpp
  api/cpp/src/IndigoMolecule.cpp
  api/cpp/src/IndigoMolecule.h
  api/cpp/tests/basic/molecule.cpp
  api/dotnet/src/IndigoLib.cs
  api/dotnet/src/IndigoObject.cs
  api/java/indigo/src/main/java/com/epam/indigo/IndigoLib.java
  api/java/indigo/src/main/java/com/epam/indigo/IndigoObject.java
  api/python/indigo/__init__.py
  api/tests/integration/tests/calc/crippen.py
  core/indigo-core/tests/tests/molecule.cpp
Labels: Indigo API

#754 api: bingo-nosql: fix partitioning in exact search
  api/c/bingo-nosql/src/bingo_exact_storage.cpp
  api/tests/integration/ref/bingo/part_test.py.out
Labels: Bug, Indigo API

#756 api: c: another stage of abandoning self-written red-black tree collections
  api/c/bingo-nosql/src/bingo-nosql.cpp
  api/c/indigo/src/indigo.cpp
  api/c/indigo/src/indigo_internal.h
  api/c/indigo/src/indigo_macros.c
  api/c/indigo/src/indigo_object.cpp
  core/indigo-core/common/base_cpp/tlscont.h
Labels: Improvement, Indigo API, c++

#755 metadata refactoring
  api/tests/integration/ref/ketcher/detect.py.out
  api/tests/integration/tests/ketcher/detect.py
  api/tests/integration/tests/ketcher/molecules/pseudo.ket
  api/tests/integration/tests/ketcher/molecules/query1.ket
  api/tests/integration/tests/rendering/ref/linux/simple.png
  api/tests/integration/tests/rendering/ref/mac/simple.png
  api/tests/integration/tests/rendering/ref/win/simple.png
  core/indigo-core/graph/graph.h
  core/indigo-core/molecule/base_molecule.h
  core/indigo-core/molecule/metadata_storage.h
  core/indigo-core/molecule/molecule_json_loader.h
  core/indigo-core/molecule/molecule_json_saver.h
  core/indigo-core/molecule/src/base_molecule.cpp
  core/indigo-core/molecule/src/metadata_storage.cpp
  core/indigo-core/molecule/src/molecule_json_loader.cpp
  core/indigo-core/molecule/src/molecule_json_saver.cpp
  core/indigo-core/reaction/base_reaction.h
  core/indigo-core/reaction/reaction_json_loader.h
  core/indigo-core/reaction/reaction_json_saver.h
  core/indigo-core/reaction/src/base_reaction.cpp
  core/indigo-core/reaction/src/reaction_json_loader.cpp
  core/indigo-core/reaction/src/reaction_json_saver.cpp
  core/render2d/render_item_aux.h
  core/render2d/render_item_molecule.h
  core/render2d/render_item_reaction.h
  core/render2d/src/render_fonts.cpp
  core/render2d/src/render_item_aux.cpp
  core/render2d/src/render_item_molecule.cpp
  core/render2d/src/render_item_reaction.cpp
Labels: Core, Feature

#763 core: molecule auto loader: cdx enable; text for reaction fix (#706)
  core/indigo-core/molecule/metadata_storage.h
  core/indigo-core/molecule/src/metadata_storage.cpp
  core/indigo-core/molecule/src/molecule_auto_loader.cpp
  core/indigo-core/reaction/src/reaction_json_saver.cpp
  core/render2d/src/render_item_reaction.cpp
Labels: Bug, Core, Feature
