Repository epam/Indigo, pull requests merged in 2022-05, with the labels that each got.

#716 #713 api: python: implement salt stripping method
  api/python/indigo/__init__.py
  api/python/tests/test_indigo.py
Labels: Enhancement, Core, python

#725 bingo: tests: hide bingo_elastic imports
  bingo/tests/conftest.py
Labels: Bingo, Tests, python

#727 ci: bingo: add bingo-postgres 13 for all OS and 14 for Linux and macOS
  .github/workflows/indigo-ci.yaml
Labels: Bingo, CI

#745 api: added TPSA calculation
  .github/workflows/indigo-ci.yaml
  api/c/indigo/indigo.h
  api/c/indigo/src/indigo_calc.cpp
  api/dotnet/src/IndigoLib.cs
  api/dotnet/src/IndigoObject.cs
  api/java/indigo/src/main/java/com/epam/indigo/IndigoLib.java
  api/java/indigo/src/main/java/com/epam/indigo/IndigoObject.java
  api/python/indigo/__init__.py
  api/tests/integration/ref/calc/mass_and_gross_fmla.py.out
  api/tests/integration/ref/calc/pka_basic.py.out
  api/tests/integration/ref/calc/reaction_mass_and_gross_fmla.py.out
  api/tests/integration/ref/calc/tpsa_basic.py.out
  api/tests/integration/tests/calc/mass_and_gross_fmla.py
  api/tests/integration/tests/calc/molecules/AA/Alanine.mol
  api/tests/integration/tests/calc/molecules/AA/Arginine.mol
  api/tests/integration/tests/calc/molecules/AA/Asparagine.mol
  api/tests/integration/tests/calc/molecules/AA/AsparticAcid.mol
  api/tests/integration/tests/calc/molecules/AA/Cysteine.mol
  api/tests/integration/tests/calc/molecules/AA/GlutamicAcid.mol
  api/tests/integration/tests/calc/molecules/AA/Glutamine.mol
  api/tests/integration/tests/calc/molecules/AA/Glycine.mol
  api/tests/integration/tests/calc/molecules/AA/Histidine.mol
  api/tests/integration/tests/calc/molecules/AA/Isoleucine.mol
  api/tests/integration/tests/calc/molecules/AA/Leucine.mol
  api/tests/integration/tests/calc/molecules/AA/Lysine.mol
  api/tests/integration/tests/calc/molecules/AA/Methionine.mol
  api/tests/integration/tests/calc/molecules/AA/Phenylalanine.mol
  api/tests/integration/tests/calc/molecules/AA/Proline.mol
  api/tests/integration/tests/calc/molecules/AA/Serine.mol
  api/tests/integration/tests/calc/molecules/AA/Threonine.mol
  api/tests/integration/tests/calc/molecules/AA/Tryptophan.mol
  api/tests/integration/tests/calc/molecules/AA/Tyrosine.mol
  api/tests/integration/tests/calc/molecules/AA/Valine.mol
  api/tests/integration/tests/calc/molecules/PkaModel.sdf
  api/tests/integration/tests/calc/molecules/adv_pka_model.sdf
  api/tests/integration/tests/calc/molecules/components.mol
  api/tests/integration/tests/calc/molecules/elements.sdf
  api/tests/integration/tests/calc/molecules/invalid.mol
  api/tests/integration/tests/calc/molecules/mass.sdf
  api/tests/integration/tests/calc/molecules/test_set.smi
  api/tests/integration/tests/calc/pka_basic.py
  api/tests/integration/tests/calc/reaction_mass_and_gross_fmla.py
  api/tests/integration/tests/calc/tpsa_basic.py
  core/indigo-core/molecule/src/tpsa.cpp
  core/indigo-core/molecule/tpsa.h
  core/indigo-core/tests/tests/molecule.cpp
Labels: Enhancement, Indigo API
