Repository epam/Indigo, pull requests merged in 2022-07, with the labels that each got.

#772 Bingo Elastic search
  bingo/bingo-elastic/python/bingo_elastic/elastic.py
  bingo/bingo-elastic/python/bingo_elastic/model/record.py
  bingo/bingo-elastic/python/bingo_elastic/queries.py
  bingo/bingo-elastic/python/tests/model/test_helpers.py
  bingo/bingo-elastic/python/tests/model/test_record.py
  bingo/bingo-elastic/python/tests/test_elastic.py
  bingo/tests/conftest.py
  bingo/tests/dbc/BingoElastic.py
  bingo/tests/dbc/PostgresSQL.py
  bingo/tests/dbc/base.py
  bingo/tests/test_pseudoatoms/test_pseudoatoms.py
  bingo/tests/test_similarity/test_similarity.py
Labels: python, Bingo-Elastic

#793 #770: reduce list of exported symbols to avoid conflicts with other shared libraries
  api/c/bingo-nosql/CMakeLists.txt
  api/c/bingo-nosql/src/bingo-nosql.cpp
  api/c/bingo-nosql/src/bingo_object.cpp
  api/c/bingo-nosql/src/libbingo-nosql.sym
  api/c/indigo-inchi/CMakeLists.txt
  api/c/indigo-inchi/src/libindigo-inchi.sym
  api/c/indigo-renderer/CMakeLists.txt
  api/c/indigo-renderer/src/libindigo-renderer.sym
  api/c/indigo/CMakeLists.txt
  api/c/indigo/src/indigo.cpp
  api/c/indigo/src/indigo_internal.h
  api/c/indigo/src/indigo_reaction.cpp
  api/c/indigo/src/libindigo.sym
  api/c/tests/unit/CMakeLists.txt
  api/cpp/tests/bingo/basic.cpp
  api/tests/integration/ref/bingo/basic.py.out
  api/tests/integration/ref/bingo/molecules.py.out
  bingo/bingo-core-c/src/mango_core_c.cpp
  bingo/bingo-core-c/src/ringo_core_c.cpp
  bingo/oracle/src/oracle/mango_oracle_util.cpp
  cmake/setup.cmake
  core/indigo-core/common/base_cpp/cancellation_handler.cpp
  core/indigo-core/common/base_cpp/cancellation_handler.h
  core/indigo-core/graph/automorphism_search.h
  core/indigo-core/graph/embedding_enumerator.h
  core/indigo-core/graph/max_common_subgraph.h
  core/indigo-core/molecule/molecule_automorphism_search.h
  core/indigo-core/molecule/molecule_fingerprint.h
  core/indigo-core/molecule/src/molecule_fingerprint.cpp
  core/indigo-core/reaction/reaction_automapper.h
  core/indigo-core/reaction/reaction_fingerprint.h
  core/indigo-core/reaction/src/reaction_automapper.cpp
  core/indigo-core/reaction/src/reaction_fingerprint.cpp
  core/indigo-core/tests/tests/mcs.cpp
Labels: Bug, Core

#795 #794: ci: add version changing script and update version to 1.8.0-dev
  .ci/VERSION.md
  .ci/version.sh
  .ci/version.txt
  api/dotnet/src/Indigo.Net.csproj
  api/http/requirements.txt
  api/http/setup.py
  api/indigo-version.cmake
  api/java/pom.xml
  api/python/indigo/__init__.py
  api/python/setup.py
  api/r/DESCRIPTION
  api/wasm/indigo-ketcher/package.json
  bingo/bingo-elastic/java/pom.xml
  bingo/bingo-elastic/python/bingo_elastic/__init__.py
  bingo/bingo-elastic/python/setup.py
  utils/indigo-ml/setup.py
Labels: CI, Documentation, Feature

#776 core: render2d: text renderer fixes, UTF-8 support, subscript/superscript, all arrows styles, fix for #355
  core/indigo-core/molecule/ket_commons.h
  core/indigo-core/molecule/src/molecule_json_loader.cpp
  core/indigo-core/reaction/src/reaction_auto_loader.cpp
  core/render2d/render_context.h
  core/render2d/render_item_aux.h
  core/render2d/src/render_context.cpp
  core/render2d/src/render_item_aux.cpp
  core/render2d/src/render_item_molecule.cpp
Labels: Core
