Repository epam/Indigo, pull requests merged in 2023-04, with the labels that each got.

#1089 #1083: Indigo Service: Indigo options support
  api/http/indigo_service/indigo_http.py
  api/http/indigo_service/indigo_tools.py
  api/http/indigo_service/jsonapi.py
  api/http/indigo_service/service.py
  api/http/tests/test_indigo_http.py
Labels: Bug, Indigo Service

#1103 Backmerge: #1093 python binding memory leak from 1.8.0 (and still present in 1.10.0)
  api/c/indigo/src/indigo.cpp
  api/c/indigo/src/indigo_abbreviations_core.cpp
  api/c/indigo/src/indigo_abbreviations_expand.cpp
  api/c/indigo/src/indigo_internal.h
Labels: Bug

#1099 #1098: api: python: copyRGroups() added
  api/c/indigo/indigo.h
  api/c/indigo/src/indigo_molecule.cpp
  api/python/indigo/indigo/indigo_lib.py
  api/python/indigo/indigo/indigo_object.py
  api/python/tests/test_indigo.py
Labels: Indigo API, python, Feature
